.messagebox {
    display: none;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    width: 35%;
    height: 60%;
    background: orange;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    font-family: 'Press Start 2P', cursive;
    font-size: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    z-index: 1;
}

.messageboxAlert {
    opacity: 0;
    transition: opacity .2s linear;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    width: 20%;
    height: 30%;
    background: darkred;
    position: absolute;
    top:-30%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

    font-family: 'Press Start 2P', cursive;
    font-size: 12px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    z-index: 1;
}

.buttonOK {
    float: bottom;
    margin-top: 30px;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #449E48;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    font-family: 'Press Start 2P', cursive;
}

.buttonOK:hover {background-color: #3e8e41}

.buttonOK:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.messageboxAlert::-webkit-scrollbar {
    display: none;
}

.messageboxAlertText {
    text-align: center;
    display: block;
    margin-left: auto;
    padding: 50px;
    color: white;
    font-size: 16px;
    z-index: 3;
}

.messagetext {
     margin-left: 10px;
    list-style-type: none ;
    font-weight:normal;
    color:#FFFFFF;
    letter-spacing:1pt;
    word-spacing:7pt;
    font-size:25px;
    text-align:center;
    font-family: 'Press Start 2P', cursive;
    line-height:3;
    padding:0px;
}

.messagebox.name {
    font-size: 10px;
}

.messagebox::-webkit-scrollbar {
    display: none;
}
