.messagebox {
    display: none;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    height: 50%;
    background: orange;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    z-index: 1;
}

.messagetext {
     margin-left: 10px;
    list-style-type: none ;
    font-weight:normal;
    color:#FFFFFF;
    letter-spacing:1pt;
    word-spacing:7pt;
    font-size:28px;
    text-align:center;
    font-family:helvetica, sans-serif;
    line-height:3;
    padding:0px;
}
