
.expprogressback{
    color: grey;
    font-size: 20px;
    height: 100%;
    width: 40%;
    background-color: #FFFAD5;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    opacity: 20%;
}
.strprogressback{
     height: 100%;
    width: 60%;
    background-color: #FFE34E;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
}
.agiprogressback{
    height: 100%;
    width: 20%;
    background-color: #BD4932;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
}
.endprogressback{
    height: 100%;
    width: 80%;
    background-color: #DB9E36;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
}
.strprogress{
    /* -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    height: 100%;
    width: 75%;
    background-color: dodgerblue; */
}
.agiprogress{
    /*-webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    height: 100%;
    width: 20%;
    background-color: dodgerblue; */
}

.endprogress{
   /* -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    height: 100%;
    width: 90%;
    background-color: dodgerblue; */
}

.expprogress{
   /* -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    height: 100%;
    width: 50%;
    background-color: dodgerblue; */
}

.expinfo{
    float: right;
    margin-left:auto;
    margin-right:0;
    color: black;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 30%;
    left: -5%;
    transition: opacity .5s linear;
}

.strinfo{
    float: right;
    margin-left:auto;
    margin-right:0;
    color: black;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 30%;
    left: -5%;
}

.endinfo{
    float: right;
    margin-left:auto;
    margin-right:0;
    color: black;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 30%;
    left: -5%;
}

.agiinfo{
    float: right;
    margin-left:auto;
    margin-right:0;
    color: black;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 30%;
    left: -5%;
}

.expbar {
    opacity: 0;
    color: black;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    width: 90%;
    height: 50px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFFAD5;
    text-decoration: none;
    list-style-type: none;
    transition: opacity .5s linear;
}

.strbar{
    opacity: 0;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    width: 90%;
    height: 50px;
    margin: 10px;
    background-color: #FFE34E;
    text-decoration: none;
    list-style-type: none;
    transition: opacity .5s linear;

}

.endbar{
    opacity: 0;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    width: 90%;
    height: 50px;
    margin: 10px;
    background-color: #DB9E36;
    text-decoration: none;
    list-style-type: none;
    transition: opacity .5s linear;
}

.agibar{
    opacity: 0;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    width: 90%;
    height: 50px;
    margin: 10px;
    background-color: #BD4932;
    text-decoration: none;
    list-style-type: none;
    transition: opacity .5s linear;
}


.explist{
    left: 0;
    margin: 0 auto;
    top: 20px;
    width: 80%;
}

.explist li {
    float: left;
}

.avatarpicture{
    position: relative;
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 50px;
    background-color: #91AA9D;
    -webkit-transition: margin 0.5s;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left {
    font-family: 'Press Start 2P', cursive;
    color: white;
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 20%;
     -webkit-transition: width 0.5s;
    height: 850px;
    margin-left: auto;
    margin-right: 5px;
    background-color: #3E606F;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.left:hover .expbar {
    color: black;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    width: 90%;
    height: 50px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #C0BDAA;
    text-decoration: none;
    list-style-type: none;
    opacity:1;
    transition: opacity .5s linear;
}

.left:hover .strbar {
    color: black;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    width: 90%;
    height: 50px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #C6B664;
    text-decoration: none;
    list-style-type: none;
    opacity:1;
    transition: opacity .5s linear;
}

.left:hover .agibar {
    color: black;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    width: 90%;
    height: 50px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #A26255;
    text-decoration: none;
    list-style-type: none;
    opacity:1;
    transition: opacity .5s linear;
}

.left:hover .endbar {
    color: black;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    width: 90%;
    height: 50px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #B29057;
    text-decoration: none;
    list-style-type: none;
    opacity:1;
    transition: opacity .5s linear;
}

.level{
    margin: auto;
    list-style-type: none ;
    font-weight:normal;
    color:#FFFFFF;
    letter-spacing:1pt;
    word-spacing:7pt;
    font-size:28px;
    text-align:center;
    line-height:3;
    padding:0px;
}


.username{
    margin: auto;
    list-style-type: none ;
    font-weight:normal;
    color:#FFFFFF;
    letter-spacing:1pt;
    word-spacing:7pt;
    font-size:28px;
    text-align:center;
    line-height:3;
    padding:0px;
}


.left:hover{
    width: 30%;
}


